body {
    background-color: #eeeeee;
    color: #222831;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

a:link {
  color: #32e0c4;
}

a:hover {
  color: #eeeeee;
}

a:active{
  color: #eeeeee;
}

a:visited {
  color: rebeccapurple;
}





.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}


.masthead {
  padding: 6em 0;
  background-image: url('../img/code.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
    color: #eeeeee;
}

.masthead-heading {
    margin-top: -0.2em;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #eeeeee;
}

.navbar-header{
  color: #393e46;
}

.details {
  padding: 5px;
  margin-right: auto;
}

.details > p {
    font-weight: 300;
    letter-spacing: 0.05em;
}

.details > h2 {
    font-size: 1.2em;
    font-weight: bold;
   
}

.row {
  padding-top: 10px;
  padding-bottom: 20px;
}

#btn {
  justify-content: center;
  align-items: center;
  background-color: #32e0c4;
  color: #eeeeee;
}

#intro {
  padding-left: 20px;
  
}

#codeImage {
  padding: 2px;
  border-radius: 5%;
}

#weatherImg {
  
  align-content: center;
}

.card-body {

}

.card-title {
  background-color: #222831;
  border-radius: 10%;
  padding-left: 20px;
  color: #32e0c4;
}

#wAPI {
  padding-right: 40px;
}

#wApp {
  padding-left: 20px;
}


#footer {
  padding: 20px;
  text-align: center;
  background-color: #222831;
  color: #32e0c4;
  text-decoration: none;
}


